nav{

}
nav a{
color:white;
text-decoration: none;
}
nav ul{
text-align: center;
}
nav li{
display:inline-block;
background-color:goldenrod;
padding:20px;
border-radius:5px;
cursor:pointer;
}
.container{

}
h1{
    text-align: center;
    margin:50px;
}